<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <%- include('./partials/cssCDN', { innerRoute: false }) %>
</head>

<body>
    <%- include('./partials/navbar') %>
    <div class="container text-white">
        <form action="/signup" method="post" enctype="multipart/form-data">
            <div class="mb-3  mt-3">
                <label for="formFile" class="form-label">Enter a good pfp:</label>
                <input class="form-control" name="pfpImage" type="file" accept="image/*" id="formFile">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Enter Name: </label>
                <input type="text" name="name" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Email: </label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password:</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button id="back_btn" class="btn btn-warning">
                <a href="/" class="text-white" style="text-decoration: none;"> Back </a>
            </button>
        </form>
    </div>
    <% if(locals.errMsz) { %>
        <div id="errDiv" class="mt-3 alert alert-danger" style="margin: 0% 10%;" role="alert"> <%= errMsz %> </div>
    <% } %>
</body>
<%- include('./partials/scriptCDN') %>
    <script>
        <% if(locals.errMsz) { %>
            const errDiv = document.getElementById("errDiv");
            setTimeout(() => {
                errDiv.style.display = "none";
            }, 2000);
        <% } %>
    </script>
</html>